In [1]:
from __future__ import print_function
from optimisation import my_g, obj_fun, min_max_df, property_results, rand_x0, formulation_result
from pandas import DataFrame
from scipy.optimize import minimize
from no_big_db_func import get_all_names

In [2]:
# get_all_names()

Choose properties to constrain

In [3]:
con_list = ['rheomix stability_time_min',
            'rheomix final_deg_time_min',
            'tensile E_t_MPa',
            'tensile epsilon_break_%',
            'tensile sigma_break_MPa',
            'ConeCal MARHE_kW_m2',
            'ConeCal peak_HRR_kWpm2'
           ]

In [4]:
min_max_df(con_list)

                                    max        min
name
rheomix stability_time_min   141.400000   8.500000
rheomix final_deg_time_min   346.900000  12.600000
tensile E_t_MPa             1917.675000  23.640000
tensile epsilon_break_%      114.773333   9.817500
tensile sigma_break_MPa       29.512500  10.606667
ConeCal MARHE_kW_m2          179.159015  12.098409
ConeCal peak_HRR_kWpm2       242.755583  60.003085

Set limits for chosen properties

In [5]:
con_limits = [10.0, 80.0, 300.0, 50.0, 18.0, 85.0, 125.0]

In [6]:
ingr_cost = [15.0, 8.0, 48.0, 45.0, 30.0, 40.0, 14.0]

Optimisation (number of starts can be set)

In [7]:
cons = ({'type': 'eq',
         'fun': lambda x: sum(x) - 1},
        {'type': 'ineq', 
         'fun': my_g, 
         'args': [con_list, con_limits]})

In [17]:
bnds = [[0.0, 1.0] for i in range(7)]
bnds[0] = [0.4, 0.8]

In [18]:
starts = 5

best_fun_val = 10000.0

for i in range(starts):
    x0 = rand_x0()
    
    res = minimize(obj_fun, x0, args = (ingr_cost), jac=True, bounds=bnds, constraints=cons)
    
    best_fun_val = min([best_fun_val, res.fun])
    print(res.fun)
    print(res.message)
    
    if res.fun == best_fun_val:
        best_res = res

21.8101067012
Optimization terminated successfully.
21.8101066904
Optimization terminated successfully.
21.8101078507
Optimization terminated successfully.
21.8101063062
Optimization terminated successfully.
21.8101067164
Optimization terminated successfully.

Optimisation results

In [19]:
best_res

     fun: 21.810106306212131
     jac: array([ 15.,   8.,  48.,  45.,  30.,  40.,  14.,   0.])
 message: 'Optimization terminated successfully.'
    nfev: 11
     nit: 10
    njev: 10
  status: 0
 success: True
       x: array([ 0.51846575,  0.04760444,  0.10117454,  0.01284686,  0.18825164,
        0.02796361,  0.10369315])

In [20]:
form_df = formulation_result(best_res.x)

In [21]:
form_df

                  mass_frac_%
PVC                     51.85
filler                   4.76
FR                      10.12
stabiliser               1.28
DINP                    18.83
LDH                      2.80
spherical_filler        10.37

In [23]:
property_results(best_res.x, con_list, con_limits, False)

In [16]:
my_g(best_res.x, con_list, con_limits)

[0.31533150846004576,
 0.002520091646555339,
 0.03900137731227875,
 0.0024763414302451502,
 0.1746776242618535,
 0.08455811787892081,
 0.049807424833076305,
 5.449137113755498e-10,
 -2.486324224282299e-08,
 -5.99400529210925e-09,
 -2.9370347265356145e-09,
 0.3633352073973667,
 0.15928430832660623,
 -1.672479554848394e-08,
 0.1307421166259084]