In [1]:
from __future__ import print_function
from optimisation import my_g, min_max_df, property_results, formulation_result, opt_with_starts
from pandas import DataFrame
from scipy.optimize import minimize
from model_scoring_func import get_all_names

In [2]:
# get_all_names()

Choose properties to constrain

In [3]:
con_list = ['rheomix stability_time_min',
            'rheomix final_deg_time_min',
#             'thermomat stab_time_min',
            'tensile E_t_MPa',
            'tensile epsilon_break_%',
            'tensile sigma_break_MPa',
#             'LOI Final'
            'ConeCal MARHE_kW_m2',
            'ConeCal peak_HRR_kWpm2'
           ]

In [4]:
# min_max_df(con_list).to_csv('Min_max_used_for_opt.csv')

Set limits for chosen properties

In [5]:
con_limits = [25.0, 80.0, 300.0, 45.0, 18.0, 85.0, 125.0]
# con_limits = [55, 300.0, 50.0, 18.0, 85.0, 125.0]

In [6]:
ingr_cost = [15.0, 8.0, 48.0, 45.0, 30.0, 40.0, 3.0]

Optimisation (number of starts can be set)

In [7]:
cons = ({'type': 'eq',
         'fun': lambda x: sum(x) - 1},
        {'type': 'ineq', 
         'fun': my_g, 
         'args': [con_list, con_limits]})

In [8]:
bnds = [[0.0, 1.0] for i in range(7)]
bnds[0] = [0.4, 0.8]

In [9]:
best_res = opt_with_starts(ingr_cost, bnds, cons)

20.3349504785
Optimization terminated successfully.
22.6888604717
Optimization terminated successfully.
20.3349501622
Optimization terminated successfully.
20.3349503152
Optimization terminated successfully.
20.334950343
Optimization terminated successfully.

Optimisation results

In [10]:
best_res

     fun: 20.334950162211783
     jac: array([ 15.,   8.,  48.,  45.,  30.,  40.,   3.,   0.])
 message: 'Optimization terminated successfully.'
    nfev: 7
     nit: 7
    njev: 7
  status: 0
 success: True
       x: array([ 0.51229677,  0.06575475,  0.09878707,  0.01024594,  0.18040086,
        0.03005526,  0.10245935])

In [11]:
form_df = formulation_result(best_res.x)

In [12]:
form_df
# form_df.to_csv('Optimum_formulation.csv')

                  mass_frac_%
PVC                     51.23
filler                   6.58
FR                       9.88
stabiliser               1.02
DINP                    18.04
LDH                      3.01
spherical_filler        10.25

In [13]:
# property_results(best_res.x, con_list, con_limits, False).to_csv('property_results.csv')
property_results(best_res.x, con_list, con_limits)