In [1]:
from tinydb import TinyDB
from raw_to_db import raw_to_db
from datahandling import access_db

In [2]:
db = access_db()

In [5]:
raw_to_db(db, 'LOI', 'Final')

2 28.8
3 23.2
5 26.0
7 32.4
8 29.5
9 29.2
10 23.2
12 34.0
13 31.8
14 27.0
17 26.3
19 33.0
20 24.4
21 32.7
24 27.7
25 29.5
26 29.4
27 35.1
28 28.2
29 27.4
30 28.3
31 34.5
33 27.7
40 25.4
41 29.5
42 28.7
45 34.5
46 31.3
49 31.0
50 29.9
53 37.7