In [3]:
from datahandling import access_db, get_msrmnts
from tinydb import Query
Q = Query()

In [4]:
sv_db = access_db(0, True)

In [7]:
get_msrmnts(sv_db, Q)['tensile E_t_MPa']

sample_number
1             NaN
2      474.318000
3       25.636667
4      803.675000
5       70.980000
6             NaN
7      106.190000
8      289.733333
9       72.792500
10            NaN
11            NaN
12            NaN
13     131.723333
14            NaN
15            NaN
16            NaN
17            NaN
18    1917.675000
19     132.423333
20            NaN
21     173.276000
22    1668.975000
23            NaN
24      32.570000
25     219.123333
26     198.023333
27            NaN
28            NaN
29      24.070000
30      94.633333
31     175.196667
32            NaN
33      38.343333
34            NaN
36    1248.985000
37            NaN
38            NaN
39            NaN
40      23.640000
41      52.903333
42            NaN
43     994.287500
44            NaN
45            NaN
46     141.276667
47            NaN
48            NaN
49      98.623333
50     119.412500
51    1058.645000
52            NaN
53            NaN
Name: tensile E_t_MPa, dtype: float64